.board {
  --boardAngle: 30deg;
  background: var(--darkChecker);
  transform: rotateX(var(--boardAngle));
}

.vAxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform-style: preserve-3d;
}

.hAxes {
  display: flex;
  flex-direction: row;
  transform-style: preserve-3d;

}

.checkers {
  position: relative;
  width: 8em;
  height: 8em;
  border: .1em solid var(--lightChecker);
  transform-style: preserve-3d;
}
