.checker {
  position: absolute;
  width: 1em;
  height: 1em;
  left: var(--left);
  top: var(--top);
}

.checkerDark {
  background: var(--darkChecker);
}

.checkerLight {
  background: var(--lightChecker);
}
