.fnBar {
  @value gap: .5em;

  position: absolute;
  top: 0;
  width: calc(100% - gap * 4);
  padding: gap 0;
  gap: gap;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon {
  display: flex;
  width: 3em;
  height: 3em;
  opacity: .6;
  fill: var(--text);
  cursor: pointer;
}
