@value gap: .5em;

.footer {
  position: absolute;
  bottom: 0;
  width: calc(100% - gap * 2);
  padding: gap 0;
  margin-top: gap;
  gap: gap;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer > a {
  display: flex;
}

.icon {
  width: 3em;
  padding: .5em;
  fill: var(--icon);
}
