.game {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--background);
}

.gameBoard {
  font-size: 3rem;
  perspective: 1000px;
}

.blackPlayer {
  font-size: 2.8em;
  margin-bottom: -.5em;
  transform: rotateY(180deg);
}

.whitePlayer {
  font-size: 3.4em;
  margin-top: .5em;
}
