.piece {
  transform: rotateX(-30deg);
  transform-origin: bottom;
  position: absolute;
  width: 1em;
  height: 1em;
  cursor: pointer;
  user-select: none;
  left: var(--col);
  top: var(--row);
}

.icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.whitePiece {
  position: absolute;
  color: var(--whitePiece);
}

.pieceStroke {
  position: absolute;
  color: var(--blackPiece);
}

.blackPiece {
  position: absolute;
  color: var(--blackPiece);
}
