.piece {
  transform: rotateX(calc(var(--boardAngle) * -1));
  transform-origin: bottom;
  position: absolute;
  width: 1em;
  height: 1em;
  user-select: none;
  left: var(--col);
  top: var(--row);
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  height: 1em;
}

.whitePiece {
  position: absolute;
  color: var(--whitePiece);
}

.pieceStroke {
  position: absolute;
  color: var(--blackPiece);
}

.blackPiece {
  position: absolute;
  transform: rotateY(180deg);
  color: var(--blackPiece);
}
