.player {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1em;
  height: 1em;
  position: relative;
}

.stroke {
  position: absolute;
  font-size: 1.1em;
  color: transparent;
  text-shadow: 0 0 black;
  transform: scaleX(1.1);
}

.icon {
  position: absolute;
  color: transparent;
  text-shadow: 0 0 var(--color);
}

.handStroke {
  position: absolute;
  font-size: .6em;
  right: calc(100% - .1em);
  bottom: -.1em;
  text-shadow: 0 0 black;
  color: transparent;
}

.hand {
  position: absolute;
  font-size: .5em;
  right: 100%;
  bottom: 0;
  text-shadow: 0 0 var(--color);
  color: transparent;
}
