.selection {
  position: absolute;
  width: 1em;
  height: 1em;
  cursor: pointer;
  border: var(--borderSize) solid green;
  left: calc(var(--col) - var(--borderSize));
  top: calc(var(--row) - var(--borderSize));
}
