body {
  margin: 0;
}

#root {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

#forkMeOnGithub {
  position: fixed;
  top: 0;
  left: 0;
}
